<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.kiemtien.hotlist">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:name="com.kiemtien.hotlist.MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/app_icon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/app_icon"
            android:supportsRtl="true"
            android:networkSecurityConfig="@xml/etwork_security_config"
            android:theme="@style/AppTheme">

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/ads_application_id">
        </meta-data>

        <activity android:name="com.kiemtien.hotlist.activity.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.kiemtien.hotlist.activity.PrivacyPolicyActivity"
                  android:screenOrientation="portrait"></activity>
        <activity android:name="com.kiemtien.hotlist.activity.PictureDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.kiemtien.hotlist.activity.FavoritePictureActivity"
                  android:screenOrientation="portrait"></activity>
    </application>

</manifest>